* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #15141a !important;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  line-height: 0.8;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  max-width: 1240px !important;
}

.simmer {
  visibility: visible;
  opacity: 1;
  width: 100%;
  background-color: rgba(89, 0, 255, 0.3);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.simmar_hide {
  display: none;
}

nav {
  position: fixed !important;
  width: 100%;
  z-index: 9999;
  border-bottom: 1px solid rgba(255, 255, 255, 0.0666666667);
  background-color: rgba(21, 20, 26, 0.5) !important;
}
nav .container .navbar-brand {
  width: 280px;
  padding: 30px 50px 30px 30px;
  -webkit-border-end: 1px solid rgba(255, 255, 255, 0.0666666667);
          border-inline-end: 1px solid rgba(255, 255, 255, 0.0666666667);
}
nav .container .navbar-brand img {
  width: 100%;
}

.fromdesign {
  background-color: #1a191e !important;
  border-radius: 5px !important;
  max-width: 280px !important;
  border: 0;
  padding: 15px 15px 15px 45px !important;
  color: #fff;
}
.fromdesign i {
  color: #fff;
}
.fromdesign .formintput {
  background-color: #1a191e;
  border: none;
  color: #fff;
}

.ul_li_el li a {
  color: #fff;
  opacity: 0.5;
}
.ul_li_el li a:hover {
  color: #fff;
}
.ul_li_el li button {
  margin-left: 10px;
  padding: 12px 30px;
  font-weight: 500;
  display: inline-flex;
  text-align: center;
  justify-content: center;
  background-color: #cef54b;
  border: none;
  border-radius: 8px;
}
.ul_li_el li button i {
  color: #15141a;
  margin-right: 10px;
  margin-top: 5px;
}

#herosection {
  position: relative;
  padding-top: 150px;
}
#herosection .container .hero_section_wrapper {
  text-align: center;
}
#herosection .container .hero_section_wrapper .info .discover-text {
  font-family: "Inter", sans-serif;
  font-size: 120px;
  font-weight: 700;
  color: #fff;
}
#herosection .container .hero_section_wrapper .info .line-title {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
#herosection .container .hero_section_wrapper .info .line-title .yellow_text {
  width: 70%;
}
#herosection .container .hero_section_wrapper .info .line-title .yellow_text p {
  font-family: "Inter", sans-serif;
  font-size: 120px;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 1px #cef54b;
}
#herosection .container .hero_section_wrapper .info .line-title .small_text {
  width: 30%;
}
#herosection .container .hero_section_wrapper .info .line-title .small_text p {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  opacity: 0.5;
  text-align: start;
  line-height: 1.7;
}
#herosection .container .hero_section_wrapper .info .assest-text {
  font-family: "Inter", sans-serif;
  font-size: 120px;
  font-weight: 700;
  color: #fff;
}

#playercard .container .playercard_Wrapper .row div .play_cart_Design {
  width: 100%;
  height: 650px;
  border-radius: 200px;
  overflow: hidden;
  position: relative;
}
#playercard .container .playercard_Wrapper .row div .play_cart_Design img {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#playercard .container .playercard_Wrapper .row div .play_cart_Design .play_text_el {
  position: absolute;
  top: 10%;
  left: 35%;
  transform: translateY(10%);
  z-index: 9999;
}
#playercard .container .playercard_Wrapper .row div .play_cart_Design .play_text_el h1 {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
}
#playercard .container .playercard_Wrapper .row div .play_cart_Design .play_text_el p {
  font-family: "Inter", sans-serif;
  font-size: 8px;
  font-weight: 300;
  color: #fff;
}
#playercard .container .playercard_Wrapper .row div .marginclass {
  margin-top: 180px;
}
#playercard .container .playercard_Wrapper .row div .w_el h1 {
  margin-left: 40px;
  padding-bottom: 200px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
}
#playercard .container .playercard_Wrapper .row div .img-el {
  top: 24%;
  left: 22%;
}
#playercard .container .playercard_Wrapper .row div .yotube-click {
  width: 250px;
  height: 180px;
  border-radius: 10px;
  overflow: hidden;
}
#playercard .container .playercard_Wrapper .row div .yotube-click img {
  width: 100%;
}

#NewArrival .button_style button {
  cursor: pointer;
  background-color: #1d1c24;
  padding: 12px 30px 12px 20px;
  border-radius: 5px;
  margin: 0 10px;
  text-transform: capitalize;
  border: none;
  color: #fff;
}
#NewArrival .button_style button i {
  margin-right: 5px;
  color: #000;
}
#NewArrival .button_style .active {
  background-color: #cef54b;
  color: #000;
}

i {
  color: #cef54b;
}

.cards_el {
  border: 1px solid rgba(255, 255, 255, 0.1333333333);
  border-radius: 5px;
  display: block;
  color: white;
  transition: all 0.5s ease-in-out;
}
.cards_el .top_info {
  padding: 10px;
}
.cards_el .img_cover {
  height: 270px;
  overflow: hidden;
}
.cards_el .img_cover img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cards_el .img_cover a {
  position: absolute;
  top: 50%;
  z-index: 9999;
  background-color: #cef54b;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  text-decoration: none;
  padding: 10px 10px;
  text-transform: capitalize;
}
.cards_el .img_cover a span {
  color: #000;
}
.cards_el .img_cover a span i {
  color: black;
}
.cards_el .info {
  padding: 25px;
}
.cards_el .info small {
  color: white;
  opacity: 0.5;
}
.cards_el .info small span {
  color: #cef54b;
}
.cards_el:hover {
  border: 1px solid #cef54b;
}
.cards_el:hover .img_cover a {
  opacity: 1;
}

#BestSellers {
  padding-top: 50px;
  padding-bottom: 80px;
}
#BestSellers .BestSellersTop p {
  font-family: "Inter", sans-serif;
  font-size: 120px;
  font-weight: 700;
  color: #fff;
}
#BestSellers .BestSellersTop p span {
  font-family: "Inter", sans-serif;
  font-size: 120px;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 1px #cef54b;
}

.feature-card {
  position: relative;
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  background-color: #100f14;
  margin-top: 30px;
  border: 1px solid #16151b;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.feature-card .img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  overflow: hidden;
}
.feature-card .img img {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.feature-card .info h2 {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
}
.feature-card .info p {
  color: white;
  opacity: 0.5;
}
.feature-card .info p span {
  color: #cef54b;
}
.feature-card:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  border: 1px solid #cef54b;
  border-radius: 8px;
}
.feature-card:hover::before {
  content: "";
  position: absolute;
  width: 85%;
  height: 37%;
  top: -15px;
  border: 1px solid #cef54b;
  z-index: -1;
  border-radius: 8px;
}

#auto_slider {
  background-color: #cef54b;
  padding: 20px 0;
}
#auto_slider .slider_wrapper .slidertext {
  transition: all 0.4s ease-in-out;
}
#auto_slider .slider_wrapper .slidertext i {
  color: rgb(31, 25, 15);
  font-size: 30px;
  margin-bottom: 20px;
}
#auto_slider .slider_wrapper .slidertext span {
  font-size: 60px;
  color: transparent;
  -webkit-text-stroke: 1px #000;
  text-transform: uppercase;
}
#auto_slider .slider_wrapper .slidertext:hover span {
  text-shadow: -6px -5px 0 #000;
}

#worksStart {
  padding-top: 50px;
  padding-bottom: 50px;
}

.workshopbottom {
  padding-bottom: 30px;
  border-bottom: 1px solid white;
}

.workshopTop h1 {
  font-family: "Inter", sans-serif;
  font-size: 120px;
  font-weight: 700;
  color: #fff;
}
.workshopTop h1 span {
  font-family: "Inter", sans-serif;
  font-size: 120px;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 1px #cef54b;
}

.workshop_cart {
  padding: 40px;
  text-align: center;
  display: block;
  border-top: 1px solid transparent;
  border-radius: 10px;
  color: #fff;
}
.workshop_cart .img {
  height: 80px;
}
.workshop_cart .img img {
  height: 100%;
}
.workshop_cart .info h6 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 10px;
}
.workshop_cart:hover {
  background-color: #0e0d11;
}

.topcollectiontop .Topinfo h1 {
  font-family: "Inter", sans-serif;
  font-size: 120px;
  font-weight: 700;
  color: #fff;
}
.topcollectiontop .Topinfo h1 span {
  font-family: "Inter", sans-serif;
  font-size: 120px;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 1px #cef54b;
}
.topcollectiontop .topbtn button {
  padding: 12px 30px;
  font-weight: 500;
  display: inline-flex;
  text-align: center;
  justify-content: center;
  background-color: #cef54b;
  border: none;
  border-radius: 8px;
}

.card_gallery {
  height: 220px;
}
.card_gallery img {
  width: 100%;
  display: block;
  height: 100%;
}

.gallery_img {
  height: 80px;
}
.gallery_img img {
  width: 100%;
}

.card_slider .one {
  width: 32%;
  height: 80px;
}
.card_slider .one img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 6px;
  -o-object-fit: cover;
     object-fit: cover;
}

.cardTop {
  transform: translateY(20px);
}
.cardTop .item {
  width: 30%;
}
.cardTop .topinfo h1 {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #fff;
}
.cardTop .img {
  width: 80px;
  height: 80px;
}
.cardTop .img img {
  height: 100%;
  overflow: hidden;
  border-radius: 50%;
  border: 6px solid #15141a;
}

#Footer {
  margin-top: 220px;
  padding-top: 120px;
  padding-bottom: 40px;
}
#Footer .footerWrapper {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 130px;
  border-bottom: 1px solid #eee;
}
#Footer .footerWrapper .footer_sites_one {
  width: 50%;
  color: white;
}
#Footer .footerWrapper .footer_sites_one .img {
  width: 60%;
}
#Footer .footerWrapper .footer_sites_one .img img {
  width: 100%;
}
#Footer .footerWrapper .footer_sites_one .info {
  width: 60%;
}
#Footer .footerWrapper .footer_sites_one .info p {
  line-height: 1.7;
}
#Footer .footerWrapper .footer_sites_two {
  width: 20%;
}
#Footer .footerWrapper .footer_sites_two .footertwoinfo h2 {
  color: #fff;
  padding-left: 20px;
}
#Footer .footerWrapper .footer_sites_two .footertwoinfo ul li {
  line-height: 1.7;
}
#Footer .footerWrapper .footer_sites_two .footertwoinfo ul li a {
  color: #fff;
}
#Footer .footerWrapper .footer_sites_three {
  width: 20%;
}
#Footer .footerWrapper .footer_sites_three .footertwoinfo h2 {
  color: #fff;
  padding-left: 20px;
}
#Footer .footerWrapper .footer_sites_three .footertwoinfo ul li {
  line-height: 1.7;
}
#Footer .footerWrapper .footer_sites_three .footertwoinfo ul li a {
  color: #fff;
}
#Footer .footerWrapper .footer_sites_four {
  width: 20%;
}
#Footer .footerWrapper .footer_sites_four .footertwoinfo h2 {
  color: #fff;
  padding-left: 20px;
}
#Footer .footerWrapper .footer_sites_four .footertwoinfo ul li {
  line-height: 1.7;
}
#Footer .footerWrapper .footer_sites_four .footertwoinfo ul li a {
  color: #fff;
}
#Footer span {
  color: #cef54b;
}

@media (min-width: 320px) and (max-width: 575px) {
  nav .container .navbar-brand {
    width: 197px;
    padding: 30px 8px 7px 8px;
  }
  .hero_section_wrapper {
    text-align: start !important;
  }
  .discover-text {
    width: auto !important;
    font-size: 60px !important;
  }
  #herosection {
    position: relative;
    padding-top: 140px;
  }
  .line-title {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
  }
  .yellow_text {
    width: 100% !important;
  }
  .small_text {
    width: 100% !important;
  }
  #herosection .container .hero_section_wrapper .info .line-title .yellow_text p {
    font-size: 91px;
    font-weight: 700;
  }
  #herosection .container .hero_section_wrapper .info .line-title .small_text p {
    margin-top: 15px;
    font-size: 14px;
  }
  #herosection .container .hero_section_wrapper .info .assest-text {
    font-size: 60px;
    text-align: center;
  }
  #playercard .container .playercard_Wrapper .row div .marginclass {
    margin-top: 29px;
  }
  #playercard .container .playercard_Wrapper .row div .play_cart_Design {
    width: 70%;
    height: 95%;
    border-radius: 163px;
    margin: 0 auto;
  }
  #playercard .container .playercard_Wrapper .row div .yotube-click {
    margin-left: auto;
    margin-bottom: 20px;
  }
  #playercard .container .playercard_Wrapper .row div .w_el h1 {
    padding-bottom: 10px;
    margin-left: 2px;
  }
  #playercard .container .playercard_Wrapper .row div .img-el {
    top: 12%;
    left: 10%;
  }
  #playercard .container .playercard_Wrapper .row div .img-el img {
    width: 50%;
  }
  #NewArrival .button_style button {
    padding: 10px;
    margin: 5px;
  }
  .cards_el {
    width: 80%;
    margin: 0 auto;
  }
  #BestSellers .BestSellersTop p,
  #BestSellers .BestSellersTop p span,
  .workshopTop h1,
  .workshopTop h1 span,
  .topcollectiontop .Topinfo h1,
  .topcollectiontop .Topinfo h1 span {
    font-size: 55px;
  }
  .feature-card .img {
    height: 56px;
  }
  #auto_slider .slider_wrapper .slidertext span {
    font-size: 12px;
  }
  #auto_slider .slider_wrapper .slidertext i {
    font-size: 10px;
  }
  .topcollectiontop .topbtn button {
    padding: 5px;
  }
  .card_gallery {
    margin-top: 30px;
  }
  .card_gallery img {
    width: 100%;
  }
  .card_slider .one {
    width: 35%;
    height: 75px;
  }
  .cardTop {
    width: 100%;
  }
  .card_gallery {
    height: 360px;
  }
  #Footer {
    margin-top: 43px;
    padding-top: 82px;
    padding-bottom: 20px;
  }
  #Footer .footerWrapper {
    flex-wrap: wrap;
  }
  #Footer .footerWrapper .footer_sites_one,
  #Footer .footerWrapper .footer_sites_two,
  #Footer .footerWrapper .footer_sites_three,
  #Footer .footerWrapper .footer_sites_four {
    width: 100%;
    margin-left: -14px;
  }
  #Footer .footerWrapper .footer_sites_one {
    margin-left: 20px;
  }
  #Footer .footerWrapper {
    padding-bottom: 18px;
  }
}/*# sourceMappingURL=main.css.map */