@import "./../base/mixin/textdesgin";
.simmer {
  visibility: visible;
  opacity: 1;
  width: 100%;
  background-color: rgb(89, 0, 255, 0.3);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.simmar_hide {
  display: none;
}
nav {
  position: fixed !important;
  width: 100%;
  z-index: 9999;
  border-bottom: 1px solid rgba(255, 255, 255, 0.0666666667);
  background-color: rgb(21, 20, 26, 0.5) !important;
  .container {
    .navbar-brand {
      width: 280px;
      padding: 30px 50px 30px 30px;
      border-inline-end: 1px solid rgba(255, 255, 255, 0.0666666667);
      img {
        width: 100%;
      }
    }
  }
}
.fromdesign {
  background-color: #1a191e !important;
  border-radius: 5px !important;
  max-width: 280px !important;
  border: 0;
  padding: 15px 15px 15px 45px !important;
  color: #fff;
  i {
    color: #fff;
  }
  .formintput {
    background-color: #1a191e;
    border: none;
    color: #fff;
  }
}
.ul_li_el {
  li {
    position: relative;
    a {
      color: #fff;
      opacity: 0.5;

      &:hover {
        color: #fff;
      }
    }
    .homelist {
      width: 140px;
      position: absolute;
      background-color: white;
      padding: 20px 0;
      transform: translateY(35%);
      opacity: 0;
      visibility: hidden;
      transition-delay: 0.3s;
      top: 50%;
      left: -30px;
      border-radius: 15px;
      ul {
        li {
          margin-bottom: 10px;
          a {
            font-size: 15px;
            color: #15141a;
            text-decoration: none;
          }
          &:hover a{
            border-bottom: 1px solid #15141a;
          }
        }
      }
    }
    &:hover .homelist {
      opacity: 1;
      visibility: visible;
    }
    button {
      margin-left: 10px;
      i {
        color: #15141a;
        margin-right: 10px;
        margin-top: 5px;
      }
      @include buttondesign();
    }
  }
}
