@media (min-width: 320px) and (max-width: 575px) {
  nav .container .navbar-brand {
    width: 197px;
    padding: 30px 8px 7px 8px;
  }
  .hero_section_wrapper {
    text-align: start !important;
  }
  .discover-text {
    width: auto !important;
    font-size: 60px !important;
  }
  #herosection {
    position: relative;
    padding-top: 40px;
  }
  .line-title {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
  }
  .yellow_text {
    width: 100% !important;
  }
  .small_text {
    width: 100% !important;
  }
  #herosection
    .container
    .hero_section_wrapper
    .info
    .line-title
    .yellow_text
    p {
    font-size: 91px;
    font-weight: 700;
  }
  #herosection
    .container
    .hero_section_wrapper
    .info
    .line-title
    .small_text
    p {
    margin-top: 15px;
    font-size: 14px;
  }
  #herosection .container .hero_section_wrapper .info .assest-text {
    font-size: 60px;
    text-align: center;
  }
  #playercard .container .playercard_Wrapper .row div .marginclass {
    margin-top: 29px;
  }
  #playercard .container .playercard_Wrapper .row div .play_cart_Design {
    width: 70%;
    height: 95%;
    border-radius: 163px;
    margin: 0 auto;
  }
  #playercard .container .playercard_Wrapper .row div .yotube-click {
    margin-left: auto;
    margin-bottom: 20px;
  }
  #playercard .container .playercard_Wrapper .row div .w_el h1 {
    padding-bottom: 10px;
    margin-left: 2px;
  }
  #playercard .container .playercard_Wrapper .row div .img-el {
    top: 12%;
    left: 10%;
  }
  #playercard .container .playercard_Wrapper .row div .img-el img {
    width: 50%;
  }
  #NewArrival .button_style button {
    padding: 10px;
    margin: 5px;
  }
  .cards_el {
    width: 80%;
    margin: 0 auto;
  }
  #BestSellers .BestSellersTop p,
  #BestSellers .BestSellersTop p span,
  .workshopTop h1,
  .workshopTop h1 span,
  .topcollectiontop .Topinfo h1,
  .topcollectiontop .Topinfo h1 span {
    font-size: 55px;
  }

  .feature-card .img {
    height: 56px;
  }
  #auto_slider .slider_wrapper .slidertext span {
    font-size: 12px;
  }
  #auto_slider .slider_wrapper .slidertext i {
    font-size: 10px;
  }
  .topcollectiontop .topbtn button {
    padding: 5px;
  }
  .card_gallery {
    margin-top: 30px;
  }

  .card_gallery img {
    width: 100%;
  }
  .card_slider .one {
    width: 35%;
    height: 75px;
  }
  .cardTop {
    width: 100%;
  }
  .card_gallery {
    height: 360px;
  }
  #Footer {
    margin-top: 43px;
    padding-top: 82px;
    padding-bottom: 20px;
  }
  #Footer .footerWrapper {
    flex-wrap: wrap;
  }
  #Footer .footerWrapper .footer_sites_one,
  #Footer .footerWrapper .footer_sites_two,
  #Footer .footerWrapper .footer_sites_three,
  #Footer .footerWrapper .footer_sites_four {
    width: 100%;
    margin-left: -14px;
  }
  #Footer .footerWrapper .footer_sites_one{
    margin-left: 20px;
  }
  #Footer .footerWrapper {
    padding-bottom: 18px;
  }
}
